{% extends 'dbquery/main.html' %}

{% block content %}
    {% load myfilters %}


    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Select Rental Start Date</label>
            <div class="col-sm-9">
                <input type="date" id="start_date" name="start_date"
                       value="2020-12-22">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>



    <hr/>
    {% if vehicles %}
        <h3>Available for Rental</h3>
        <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">VIN</th>
            <th scope="col">Description</th>
            <th scope="col">Year</th>
            <th scope="col">Type</th>
            <th scope="col">category</th>
            <th>Daily Rate</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ vehicle.0 }}</td>
                <td>{{ vehicle.1 }}</td>
                <td>{{ vehicle.2 }}</td>
                <td>
                    {% if vehicle.3 == 1 %}
                        Compact
                    {% elif vehicle.3 == 2 %}
                        Medium
                    {% elif vehicle.3 == 3 %}
                        Large
                    {% elif vehicle.3 == 4 %}
                        SUV
                    {% elif vehicle.3 == 5 %}
                        Truck
                    {% elif vehicle.3 == 6 %}
                        Van
                    {% endif %}

                </td>
                <td>
                    {% if vehicle.4 == 0 %}
                        Basic
                    {% elif vehicle.4 == 1 %}
                        Luxury
                    {% endif %}
                </td>
            <td>
                ${{ vehicle.5 }}
            </td>
                <td>
                    <form action="{% url 'bookRental' vehicle.1 %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mb-1">Select</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</tbody>
</table>

{% endblock %}