{% extends 'dbquery/main.html' %}

{% block content %}
    {% load myfilters %}


        <h3>Rental Details</h3>
        Booking By : {{ rental.11 }} <br/>
        Vehicle Selected : {{ vehicle.description }} <br/>
        Order Date : {{ rental.3 }} <br/>
        Rental Start Date: {{ rental.2 }} <br/>
        Rental Return Date: {{ rental.6 }} <br/>
        Total Cost : {{ rental.7 }} <br/>
        Payment Date: {{ rental.8 }} <br/>
        Returned Status: {% if rental.9 == 0 %}
        Vehicle Not Returned
    {% elif rental.9 == 1 %}
        Vehicle Returned
    {% endif %} <br/>


    <hr/>
    <h3>Process Returns Rental</h3>
    <form method="POST" action="{% url 'updateBooking' %}">
        {% csrf_token %}

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Payment Date</label>
            <div class="col-sm-9">
                <input type="date" id="payment_date" name="payment_date">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Return Status</label>
            <div class="col-sm-9">
                <select class="form-select"  id="retuned" name="returned">
                    <option selected>Select Return Status</option>
                    <option value="0">Vehicle Not Returned</option>
                    <option value="1">        Vehicle Returned
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}