{% extends 'dbquery/main.html' %}

{% block content %}
    {% load myfilters %}


    <form method="POST" action="">
        {% csrf_token %}
        {%  for field  in form %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">{{ field.label }}</label>
                <div class="col-sm-9">
                    {{ field |addclass:'form-control' }}
                </div>
            </div>
        {% endfor %}
        <div class="form-group row">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">VIN</th>
            <th scope="col">Description</th>
            <th scope="col">Year</th>
            <th scope="col">Type</th>
            <th scope="col">category</th>
        </tr>
        </thead>
        <tbody>
        {% if vehicles %}
            {% for vehicle in vehicles %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ vehicle.pk }}</td>
                    <td>{{ vehicle.description }}</td>
                    <td>{{ vehicle.year }}</td>
                    <td>
                        {% if vehicle.type == 1 %}
                            Compact
                        {% elif vehicle.type == 2 %}
                            Medium
                        {% elif vehicle.type == 3 %}
                            Large
                        {% elif vehicle.type == 4 %}
                            SUV
                        {% elif vehicle.type == 5 %}
                            Truck
                        {% elif vehicle.type == 6 %}
                            Van
                        {% endif %}

                    </td>
                    <td>
                        {% if vehicle.category == 0 %}
                            Basic
                        {% elif vehicle.category == 1 %}
                            Luxury
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}